".idea/" 
".ipynb_checkpoints/" 
"*.iml" 
"*.xml" 
"*.pyc" 
"__pycache__/" 
".idea/" 
".ipynb_checkpoints/" 
"*.iml" 
"*.xml" 
"*.pyc" 
"__pycache__/" 
".idea/" 
".ipynb_checkpoints/" 
"*.iml" 
"*.xml" 
"*.pyc" 
"__pycache__/" 
